<div class="card-cadastro container">
    <mat-card class="cadastro-card">
        <div class="cadastro-title">
            <span>Cadastro</span>
        </div>
        <div>
            <form autocomplete="off" novalidate >
                <mat-form-field>
                    <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome" required>
                </mat-form-field>   
                <mat-form-field>
                    <input matInput placeholder="Sobrenome" [(ngModel)]="usuario.sobrenome" name="sobrenome" required>
                </mat-form-field>  
                <mat-form-field appearance="fill">
                    <mat-label>Gênero</mat-label>
                    <mat-select required [(ngModel)]="usuario.genero" name="genero">
                      <mat-option *ngFor="let genero of generos" [value]="genero.value">
                        {{genero.value}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput [matDatepicker]="dp3" required disabled="true" [(ngModel)]="usuario.dataNascimento" name="dataNascimento">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                  </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="E-mail" [(ngModel)]="usuario.email" name="email" type="email" required>
                </mat-form-field> 
                <mat-form-field>
                    <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" name="senha" type="password" required minlength="3" maxlength="15">
                </mat-form-field> 
                <button 
                type="submit" 
                class="btn btn-primary"
                title="Cadastrar usuário"
                matRipple
                (click)="realizarCadastro()"
                >Cadastrar
                </button>
                <button 
                type="button" 
                class="btn btn-primary" 
                routerLink="/login"
                title="Voltar para o login"
                matRipple
                >
                Voltar
                </button>
            </form>  
        </div> 
    </mat-card>  
</div>

    


