<nav class="navbar navbar-expand-lg navbar-light menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
      <a class="nav-link" routerLink="loja">Loja</a>
      <a class="nav-link" routerLink="comunidade">Comunidade</a>
      <a class="nav-link" *ngIf="estaLogado" routerLink="login" tabindex="-1">Login</a>
      <a class="nav-link" *ngIf="!estaLogado" (click)="logout()" tabindex="-1">Logof</a>
    </div>
  </div>
</nav>