<div class="cardpost container ">
    <mat-card class="post container">
        <mat-card-content class="title">
            <div class="header">
                <a id="linkUsuario" (click)="irParaProfile()" title="@autor_do_post">
                    <img src="../../assets/logo/fotoPerfil.jpg" class="img-thumbnail">
                </a>
            </div> 
        </mat-card-content>
        <mat-card class="card-body">
            <div class="form-floating">
                <textarea class="form-control" placeholder="No que você está pensando?" id="floatingTextarea" [(ngModel)]="post.conteudoPost"></textarea>
                <label for="floatingTextarea">Posts</label>
            </div>
            <mat-card-actions>                
                <button type="submit" title="Publicar post" (click)="teste()">
                    Enviar
                </button> 
            </mat-card-actions>
        </mat-card> 
    </mat-card>
</div>
