<div class="container">
    <div class="card-profile">
        <h1>@nome_do_usuario</h1>
        <mat-card-content>
            <div class="img-thumbnail" style="width: fit-content;">
                <img src="../../assets/logo/fotoPerfil.jpg" style="height: 200px; width: 200px;">
            </div>
            <mat-list>
                <mat-list-item>
                    <mat-label>Usuário:</mat-label>
                    @nome_do_usuario
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-label>E-mail: </mat-label>
                    usuario@email.com
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-label>Cidade: </mat-label>
                    Paris/Fr
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>
</div>
