.card-profile {
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.img-thumbnail {
    margin: auto;
}
mat-icon {
    margin-right: 10px;

}
